:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #ffffff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;

  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  --social-bg: rgba(244,243,236,.5);

  --shadow:
    rgba(0,0,0,.10) 0 10px 15px -3px,
    rgba(0,0,0,.05) 0 4px 6px -2px;

  --sans: system-ui,"Segoe UI",Roboto,sans-serif;
  --heading: system-ui,"Segoe UI",Roboto,sans-serif;
  --mono: ui-monospace,Consolas,monospace;

  font-size:18px;

  color:var(--text);
  background:var(--bg);

  font-synthesis:none;
  text-rendering:optimizeLegibility;

  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  overflow-x:hidden;
  background:var(--bg);
}

*{
  box-sizing:border-box;
}

img{
  max-width:100%;
  height:auto;
  display:block;
}

#root{

  width:100%;

  max-width:1280px;

  margin:0 auto;

  min-height:100vh;

  display:flex;
  flex-direction:column;

  overflow-x:hidden;

}

h1,
h2{
  margin:0;

  font-family:var(--heading);

  color:var(--text-h);

  font-weight:700;
}

h1{

  font-size:56px;

  line-height:1.1;

}

h2{

  font-size:32px;

}

p{

  margin:0;

}

code,
.counter{

  font-family:var(--mono);

  display:inline-flex;

  border-radius:4px;

  color:var(--text-h);

}

code{

  padding:4px 8px;

  background:var(--code-bg);

}

/* ===================== */
/* TABLET */
/* ===================== */

@media (max-width:992px){

  :root{

    font-size:16px;

  }

  #root{

    max-width:100%;

  }

}

/* ===================== */
/* CELULAR */
/* ===================== */

@media (max-width:768px){

  h1{

    font-size:38px;

  }

  h2{

    font-size:28px;

  }

}

/* ===================== */
/* CELULAR PEQUEÑO */
/* ===================== */

@media (max-width:480px){

  h1{

    font-size:32px;

  }

  h2{

    font-size:24px;

  }

}